[Unit]
Description=mackeys
After=default.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=xremap --watch=device %h/.config/mackeys/config.yml

[Install]
WantedBy=default.target
